$list_even_background: #e9ecef;
$list_odd_background: #dee2e6;
$list_header: #8d99ae;
$border_radius: 0.7em;

.vehicle-list-header {
    width: 100%;
    background-color: $list_header !important;

    td {
        cursor: pointer;
        padding: $border_radius;
        &:first-child {
            border-top-left-radius: $border_radius;
        }
        &:last-child {
            border-top-right-radius: $border_radius;
        }
        &:hover {
            background-color: $list_odd_background;
        }

       
    }
}

.asc-filter {
    background: rgb(233,236,239);
    background: linear-gradient(180deg, rgba(233,236,239,1) 0%, rgba(222,226,230,1) 17%, rgba(141,153,174,1) 100%);
}

.desc-filter {
    background: rgb(233,236,239);
    background: linear-gradient(0deg, rgba(233,236,239,1) 0%, rgba(222,226,230,1) 17%, rgba(141,153,174,1) 100%);
}
