<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/js/base.css">
<div class="container">
    <div class="row">
      <div class="col section-link">
        <a href="/people"><img src="/images/characters.jpg" alt=""><p>characters</p></a>
      </div>
      <div class="col section-link">
        <a href="/vehicles"> <img   src="/images/vehicles.jpg" alt=""><p>vehicles</p></a>
      </div>
      
    </div>
  </div>

