<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="row">
      <div class="col">
        <img height="400px" src="/images/characters.jpg" alt="">
      </div>
      <div class="col">
        <img   height="400px" src="/images/vehicles.jpg" alt="">
      </div>
      
    </div>
  </div>

